body{
   background-image: url("http://sourcefed.com/wp-content/uploads/2015/02/Interstellar-team-and-black-hole.jpg"); 
   background-size: 100%
} 

body{
    margin: 0; 
    padding: 0; 
}

#game-screen{
    display: block; 
}

#gameOver, #playHUD, #playScreen{
    position: absolute; 
    visibility: hidden; 
}

h1, h2, h3 {
    color: white;
    font-size: 50px;
    text-align: center;
}

.title{ 
    font-size: 62px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton:hover , #playButton :hover{
    border: 20px dotted;  
    border-radius: 15px; 
} 

#scoreboard{
    margin: 0px; 
} 

a  {
    margin-right: 500px;
    margin-left: 500px;
    margin-top: 30px;
    display: block;
    border-radius: 20px;
    border: 5px solid white;
    text-align: center;
    font-size: 2.5em;
    text-decoration: none;
    color: white; 
}

div a:hover {
    color: white;
    background-color: black;
}